* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Twinkle+Star&display=swap');


:root {
 --verde: #8abe7b;
  --branco: #ffffff;
  --roxo-claro: #0f0255;
  --bege: #fdfdf1;
  --
     --fonte-primaria: 'Twinkle Star',cursive;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

body {
  height: 100vh;
  box-sizing: border-box;
  background-color: var(--bege);
  color: var(--verde-escuro);
  font-size: 16px;
  
}

header {
  display: flex;
  width: 100%;
  background-color: var(--verde);
  padding: 1rem;
  justify-content: center;
  font-family: var(--fonte-primaria)
}

.receitinhas-do-dia-a-dia h1 {
  font-size: 4rem;
  color: var(--verde-escuro);
}