@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
font-family: "Sriracha", cursive;
}

:root {

--verde: #5e9c4f;
--verde-escuro: #001e00;
--branco: #ffffff;
--bege:  #f5f8b7;
--marrom-claro:  #ced09a;
--verde-diferente: #acaf70;
}

header{
width: 100%;
background-color: var(--verde);
padding: 20px 0;
}

.foto{
  width: auto;
  height: 50px;
  max-height: 60px;
}

.logo{
  display: flex;
  align-items: center;
}

.texto{
  margin-left: 20px;
  color: var(--verde-escuro);
}

.texto h1{
  font-size: 3rem;
}

.menu li{
  display: inline-block;
  margin: 0 10px;
}

.menu li a{
  font-size: 18px;
  text-decoration: none;
  color: var(--verde-escuro);
  text-transform: uppercase;
}

.navegador{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.navegador .menu{
  padding: 10px 18px;
  border-radius: 30px;
  font-size: 1.12rem;
transition: 0.3s ease;
color: var(--verde-escuro);
display: flex;
gap: 10px;
}

.menu li a:hover{
background-color: var(--verde-escuro);
color: var(--marrom-claro);
border-radius: 40px;
padding: 12px 24px;
transition: backgrond-color 0.3s ease, padding 0.3 ease;
}

body{
  background-color: var(--bege);
}

.objetivo {
  background-color: var(--bege);
  padding: 40px 20px;
  margin: 40px auto;
  max-width: 900px;
  border-radius: 10px;
  text-align: center;
}


.objetivo {
  position: relative;
  background: url('spaghetti-6639970_1280.jpg') no-repeat center center/cover;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}


.objetivo .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}


.objetivo .conteudo-objetivo {
  max-width: 800px;
  z-index: 2;
}


.objetivo h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}


.objetivo p {
  font-size: 1.2rem;
  line-height: 1.6;
}



.card {
  background-color: var(--marrom-claro);
  padding: 20px;
  margin: 40px auto;
  max-width: 900px;
  border-radius: 10px;
}

.conteudo-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap; 
}

.texto {
  flex: 1;
  min-width: 250px;
  color: var(--verde-escuro);
}

.texto h2 {
  margin-bottom: 10px;
  font-size: 2rem;
}

.imagem-container {
  flex: 1;
  text-align: right;
}

.imagem {
  max-width: 100%;
  width: 300px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}

.imagem:hover {
  transform: scale(1.05);
}

.receita {
  margin-top: 20px;
  padding: 20px;
  background-color: var(--bege);
  border-radius: 8px;
  display: none;
}

.receita h3 {
  margin-top: 15px;
  color: var(--verde-escuro);
}

.card2 {
  background-color: var(--marrom-claro);
  padding: 20px;
  margin: 40px auto;
  max-width: 900px;
  border-radius: 10px;
}

.conteudo-card2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap; 
}

.texto2 {
  flex: 1;
  min-width: 250px;
  color: var(--verde-escuro);
}

.texto2 h2 {
  margin-bottom: 10px;
  font-size: 2rem;
}

.imagem-container2 {
  flex: 1;
  text-align: right;
}

.imagem2 {
  max-width: 100%;
  width: 300px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}

.imagem2:hover {
  transform: scale(1.05);
}

.receita2 {
  margin-top: 20px;
  padding: 20px;
  background-color: var(--bege);
  border-radius: 8px;
  display: none;
}

.receita2 h4 {
  margin-top: 15px;
  color: var(--verde-escuro);
}

.card3 {
  background-color: var(--marrom-claro);
  padding: 20px;
  margin: 40px auto;
  max-width: 900px;
  border-radius: 10px;
}

.conteudo-card3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap; 
}

.texto3 {
  flex: 1;
  min-width: 250px;
  color: var(--verde-escuro);
}

.texto3 h2 {
  margin-bottom: 10px;
  font-size: 2rem;
}

.imagem-container3 {
  flex: 1;
  text-align: right;
}

.imagem3 {
  max-width: 100%;
  width: 300px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}

.imagem3:hover {
  transform: scale(1.05);
}

.receita3 {
  margin-top: 20px;
  padding: 20px;
  background-color: var(--bege);
  border-radius: 8px;
  display: none;
}

.receita3 h3 {
  margin-top: 15px;
  color: var(--verde-escuro);
}

.card4 {
  background-color: var(--marrom-claro);
  padding: 20px;
  margin: 40px auto;
  max-width: 900px;
  border-radius: 10px;
}

.conteudo-card4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap; 
}

.texto4 {
  flex: 1;
  min-width: 250px;
  color: var(--verde-escuro);
}

.texto4 h2 {
  margin-bottom: 10px;
  font-size: 2rem;
}

.imagem-container4 {
  flex: 1;
  text-align: right;
}

.imagem4 {
  max-width: 100%;
  width: 300px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}

.imagem4:hover {
  transform: scale(1.05);
}

.receita4 {
  margin-top: 20px;
  padding: 20px;
  background-color: var(--bege);
  border-radius: 8px;
  display: none;
}

.receita3 h4 {
  margin-top: 15px;
  color: var(--verde-escuro);
}

.rodape {
  background-color: var(--verde-escuro);
  color: var(--bege);
  text-align: center;
  padding: 15px 10px;
  font-size: 1rem;
  margin-top: 40px;
}


.rodape p {
  margin: 0;
}
