@import url('https://fonts.googleapis.com/css2?family=Vibur&display=swap');

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family:"Vibur", cursive;
}

:root {
  /*cores*/
--verde: #8abe7b;
--verde-escuro: #001e00;
--branco: #ffffff;
--bege:  #fdfdf1;
}

header{
width: 100%;
background-color: var(--verde);
justify-content: space-around;
align-items: center;
padding: 20px 0;
}

.foto{
  width: 50px;
  height: 50px;
}

.logo{
  display: flex;
  align-items: center;
}

.texto{
  margin-left: 20px;
  color: var(--verde-escuro);
}

.menu li{
  display: inline-block;
  margin: 0 10px;
}

.menu li a{
  font-size: 24px;
  text-decoration: none;
  color: var(--verde-escuro);
  text-transform: uppercase;
}

.navegador .menu{
  padding: 10px 18px;
  border-radius: 30px;
  font-size: 1.12rem;
transition: 0.3s ease;
color: var(--verde-escuro);
display: flex;
gap: 10px;
}

.menu li a:hover{
  background-color: var(--bege);
color: var(--verde);
border-radius: 30px;
padding: 20px 30 px;
}